clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
diffusers==0.19.3
scipy
ftfy
accelerate
gradio>=3.12.0
huggingface-hub==0.19.4
humanfriendly==10.0
imageio==2.22.4
importlib-metadata==5.1.0
inflection==0.5.1
invisible-watermark>=0.2.0
Jinja2==3.1.2
Pillow==9.3.0
streamlit==1.29.0
streamlit-drawable-canvas==0.9.3
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
toolz==0.12.0
torch==2.0.1
torchdiffeq==0.2.3
torchmetrics==0.11.0
torchsde==0.2.5
torchvision==0.15.2
tornado==6.2
transformers==4.36.0  
